// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contents{
 margint-top:100px;
 background: image-url("36211_1.jpg")；
}
.contents-item{
margin-left:100px;
}

.main-contents{
 background: image-url("64456.jpg")；
 
}

