// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contents{
 margint-top:100px;
}
.contents-item{
margin-left:100px;
}

.main{
 background: image-url("36239_1.jpg");
 background-size: cover;
 background-color:rgba(255,255,255,0.8);
 background-blend-mode:lighten;
 padding-left:30px;
}

.contents {
 background: image-url("36211_1.jpg");
 background-size: cover;
 background-color:rgba(255,255,255,0.8);
 background-blend-mode:lighten;
 padding-left:30px;
 padding-top:20px;
}

.contents-item {
 text-align:center;
 margin-top:20px;
 padding-bottom:600px;
 margin-left:400px;
}

