// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*.contents{
 margint-top:100px;
 background: url(36211_1.jpg)  no-repeat center center fixed #C0C0C0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}*/
.contents-item{
margin-left:100px;
}

.main-contents{
 margint-top:50px;
 background: image-url("64456.jpg")  no-repeat center center fixed #C0C0C0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}