// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-contents {
    background: image-url("64456.jpg");
    background-size: cover;
    padding-left:30px;
}

.new-post {
    background: image-url("64456.jpg");
    background-size: cover;
    padding-left:30px;
    padding-top:100px;
}

.container {
    padding-bottom:200px;
}