// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-contents {
    background: image-url("64456.jpg");
    background-size: cover;
    padding-left:30px;
}

.new-post {
    background: image-url("54121.jpg");
    background-size: cover;
    padding-left:30px;
    padding-top:100px;
}

.container {
    padding-bottom:200px;
}

.contents {
    text-align: center;
}

.contents-item {
    height:100px;
    width:100px;
}

.post-show {
    background: image-url("64456.jpg");
    background-size: cover;
    padding-left:30px;
    padding-top:20px;
    padding-bottom:130px;
}

.post-content {
    padding-left:500px;
    display: table-cell;
    vertical-align: top;
}